*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

}

.emoji{
  position: fixed;
  top: -1vh;
  font-size: 2rem;
  animation: fall 3s linear forwards;
}

@keyframes fall {
  to{
    transform: translateY(105vh);
  }
  from{
    transform: translateY(0);
  }
}
